.box {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5.125rem;
    padding-top: 100px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .box {
        align-items: flex-start;

        column-gap: 2rem;

    }
}

@media screen and (max-width: 480px) {
    .box {
        grid-template-columns: auto;
        row-gap: 2rem;
        padding-top: 1.5rem;

    }
}

.who,
.what {
    display: flex;
    gap: 92px
}



.what {
    flex-direction: column;
}

.who {
    flex-direction: column-reverse;
}

@media screen and (max-width: 900px) {

    .who,
    .what {
        gap: 62px
    }
}

@media screen and (max-width: 480px) {
    .who,
    .what {
        gap: 1.3rem;
    }
    .what {
        flex-direction: column-reverse;
        grid-row: 2 / 2;
    }

    .who {
        flex-direction: column-reverse;
        grid-row: 1 / 1;

    }
}

.img {
    /* padding: 0 10px; */
    text-align: center;
}

.img img {
    border-radius: 650px 750px 250px 750px / 850px 450px 750px 550px;
    animation: wobble 10s ease-in-out alternate infinite;
    max-width: 95%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

@media screen and (max-width: 768px) {
    .info {
        gap: 2rem;
        padding-top: 0
    }
}

.title {
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 1;
    color: #463A3A;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 2.1rem;

    }
}

.text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .text {
        font-size: 1rem;
    }
}

@keyframes wobble {
    50% {
        border-radius: 750px 550px 350px 750px / 350px 750px 550px 750px;
    }

    100% {
        border-radius: 750px 550px 750px 570px / 550px 750px 650px 750px;
    }
}