.box {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5.125rem;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .box {
        align-items: flex-start;

        column-gap: 2rem;

    }
}

@media screen and (max-width: 480px) {
    .box {
        grid-template-columns: auto;
        row-gap: 2rem;
        padding-top: 1.5rem;

    }
}

.actions {
    margin-top: 4rem;
    text-align: center;
    height: 100%;
}
.link-button {
    position: relative;
    height: 100%;
}