.store {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding-top: 1.81rem;
}


@media screen and (max-width: 900px) {
    .store {
        gap: 1.25rem
    }
}

@media screen and (max-width: 600px) {
    .store {
        flex-direction: column;

    }
}


h3 {
    font-size: 40px;
    line-height: 39px;
    color: #463A3A;
}

@media screen and (max-width: 480px) {
    h3 {
        display: none;
    }
}

.message {
    height: 36px;
}

.message .content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #463A3A;
    opacity: 0;
    transition: all 0.5s ease;
    border-bottom: 0.7px solid rgba(0, 0, 0, 0.2);
}

.message .content::after {
    content: url('../../../public/assets/icons/validation/success-message.svg')
}
.message .content.active {
    opacity: 1;
}
