.box {
    padding: 0 5.93rem 6rem 0;
    /* padding: 4rem 5.93rem 6rem 0; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.25rem;
}
@media screen and (max-width: 780px) {
    .box {
        padding: 0 4.68rem 3.68rem 4.68rem;
    }
}
@media screen and (max-width: 480px) {
    .box {
        padding: 0 3.2rem 3.2rem 3.2rem ;
        gap: 2.1rem;

    }
}
.content {
    display: flex;
    gap: 1rem;
    max-width: 100%;
}
@media screen and (max-width: 780px) {
    .content {
        flex-direction: column;
    }
}
.img {
    flex: 0 0 50%;
    max-width: 494px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-img {
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 457px;
    gap: 3.31rem;
    flex: 0 0 50%;

}

.title {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.description {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.descr-title {
    font-size: 24px;
    margin-bottom: 1.35rem;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 30px;

}

.descr-body {
    font-size: 20px;
    color: #9A9A9A;
    font-weight: 400;
    line-height: 30px;

}

.actions {
    text-align: end;
}