.nav-actions {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 4.375rem;
    grid-area: actions;

}

@media screen and (max-width: 650px) {
    .nav-actions {

        gap: 1.375rem;
    }    
}

@media screen and (max-width: 1024px) {
    .nav-actions {
        gap: 3rem
    }
}

.form-search {
    position: relative;
    border: 1px solid #D2D2D2;
    border-radius: 19px;
    height: 24px;
    display: flex;
    overflow: hidden;
    align-items: center;
}


.input {
    width: 105px;
    height: 100%;
    padding-left: 10px;
    background-color: #F5F5F5;
}

.search {
    padding: 0 9px;
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #D2D2D2;
}
@media screen and (max-width: 769px) {
    .nav-actions {
        align-items: center;
    }

}
@media screen and (max-width: 480px) {
    .nav-actions {
        grid-area: unset;
        justify-content: space-between;
        gap: 0;

    }
    
}
.search img {
    cursor: pointer;

}

.cart {
    position: relative;
    cursor: pointer;

}

.cart span {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.8rem;
    height: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(40%, -40%);

    font-weight: 400;
    font-size: 0.5rem;
    line-height: 10px;
    background-color: #597266;
    border-radius: 50%;
    color: #fff;
}