
@media screen and (max-width: 480px) {
    .nav {
        position: relative;
    }


    .scroll {
        top: 0;
        left: -150%;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 15;
        padding-top: 3rem;
        transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;   
        
    }

    .scroll.active {
        left: 0;
    }


}

.logo {
    position: relative;
}


@media screen and (max-width: 480px) {
    .burger-btn {
        display: block;
        position: relative;
        z-index: 20;
        width: 1.6rem;
        height: 1rem;
        background-color: transparent;
        margin: 0;
        overflow: hidden;
    }

    .burger-btn::before,
    .burger-btn::after {
        content: "";

    }

    .burger-btn::before,
    .burger-btn::after,
    .burger-btn span {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        background-color: #597266;
        height: 2px;
        transition: all 0.3s ease;
    }

    .burger-btn span {
        transform: scale(1) translate(0px, -50%);

    }

    .burger-btn::before {
        bottom: 0;
    }

    .burger-btn::after {
        top: 0;
    }


    .burger-btn.active span {
        left: -1000%;
    }

    .burger-btn.active::after {
        transform: rotate(45deg);
        top: 7px;
    }

    .burger-btn.active::before {
        transform: rotate(-45deg);
        bottom: 7px;

    }
}
