.footer {
    background-color: transparent;
    position: relative;
    margin-top: 2rem;

}

.logo {
    max-width: 130px;
}

.logo .logo-img {
    max-width: 100%;
}

.footer h3 {
    color: #FFFFFF;

}

.footer a,
span {
    color: #B7B7B7;
}

.box {
    width: 100%;
    padding: 0 0 5rem;
    background-color: #597266;
    /* z-index: 9; */

}

@media screen and (max-width: 769px) {
    .box {
        padding: 0 0 3.5rem;

    }
}

@media screen and (max-width: 480px) {
    .box {
        padding: 0 0 1rem;

    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 0.75rem;
    position: relative;
    z-index: 9;
    background-color: #597266;

}


@media screen and (max-width: 1024px) {
    .content {
        grid-template-columns: 1fr 5fr;

    }
}


@media screen and (max-width: 769px) {
    .content {
        grid-template-columns: 1fr 3fr;

    }
}

.content .logo {
    align-self: flex-start;
}

@media screen and (max-width: 769px) {
    .content .logo img {
        width: 85px
    }
}

@media screen and (max-width: 480px) {
    .content .logo img {
        width: 74px
    }
}


.wave1 {
    position: relative;
    z-index: 10;
    height: 160px;
    pointer-events: none;
    transform: translate(0, 3%);
}

@media screen and (max-width: 768px) {

    .wave1 {
        height: 100px;
    }
}

