.intro-box {
  position: relative;
}


.intro-info {
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 25%;
  width: 100%;
  overflow: visible;
  z-index: 12;
}

@media screen and (max-width: 1324px) {
  .intro-info {
    top: 20%;
  }
}

.title {
  font-size: 6.25rem;
  margin: 0 auto;
  margin-bottom: 6.9rem;
  max-width: 640px;
  color: #463A3A;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 1324px) {
  .title {
    margin-bottom: 4.9rem;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 5.25rem;
  }
}

@media screen and (max-width: 769px) {
  .title {
    font-size: 4rem;
    margin-bottom: 3.43rem;
  }
}


@media screen and (max-width: 480px) {
  .title {
    font-size: 4rem;
    margin-bottom: 2.75rem;
  }
}

